name: Buduj Plugin
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean package
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: Lifesteal-Plugin
          path: target/*.jar
